
.btn
{
    border-radius: 0px;
}
.container
    {
       width: 100%;
    }
h1
    {
        font-family: Helvetica;
	font-size: 36px;
	color: #666; 
    }
ul li a
{
    background-color: #3f81a1;
    color: #ffffff;
}
.content>div>img
    {
        display:none;
    }
.content>div>p>img
    {
        float:left;
        width:25%;
        margin-right: 3%;
        margin-bottom: 1%;
    }
.content>div>p
{
    text-align: justify;
}
.content-header>div>p
{
    text-align: justify;
}
.content-footer h1
{
    text-align: center;
}
.content-footer>div>div>p
{
    background-image: url("../image/phay.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 60px;
    text-align: justify;
}
.footer>div.foot-end
{
    background-color: #f1f1f1;
    height: auto;
    padding-top: 30px;
}
.footer>div>a
{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    
}
.footer>div
{
    background-color: #f1f1f1; 
    text-align: center;
}
.footer>div>p
{
  margin-top: 10px;
}
div.backround-blue
    {
        background-color: #3f81a1;
    }
.header>div.desktop
{
    display:none;
}
.header>div.mobile
{
    background-color: #f1f1f1;
}
div.row.header
{
    background-color: #f1f1f1;
}
.header p,.footer p
{
    color: #999999;
    font-family: Myriad Pro;
}
@media only screen and (min-width: 960px) {
    
       .container
{
    width: 1026px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: #ffffff;
    
}
body
{
    background-image:url('../image/phong.jpg');
}
.header>div.mobile
{
    display:none;
}
.header>div.desktop
{
    display: inline-block;
}
ul
{
    width: 100%;
    background-color: #3f81a1;
}
ul li
{
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin: 0px;
    
}

div.row.header
{
    background-image:url('../image/nen.jpg');
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
      
.content>div>img
    {
        display:block;
    }
 .content>div>p>img
    {
        display:none;
    }
 div.row.footer
    {
        background-color: none;
        background-image:url('../image/back.jpg');
    }
 .footer
 {
     padding: 0px;
     margin: 0px;
 }
 .footer>div.backround-blue
    {
        background-image: url('../image/back.jpg');
    }
 .foot-end
    {
        margin-top: 30px;
    }
 .mancoll
    {
        margin-top:50px;
    }

}

